.home {
  &__wrap {
    gap: 40px;
    align-items: center;

    @media (max-width: 1050px) {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: stretch;
      justify-content: center;
    }
  }

  &__text {
    position: relative;
  }

  &__title {
    color: var(--text-color);
    font-style: normal;
    font-weight: 800;
    width: 80%;
    margin-top: 30px;

    @media (max-width: 1445px) {
      font-size: calc(2.5em + 0.4vw);
      font-style: normal;
      font-weight: 800;
      width: 100%;
      margin-top: 30px;
    }

    @media (max-width: 1050px) {
      font-size: calc(5vh + 0.4vw);
    }
    @media (max-width: 770px){
      width: 70%;
      margin: 0 auto;
      text-align: center;
    }
    @media (max-width: 770px){
      width: 100%;

    }
    & img {
      position: relative;
      bottom: -25px;
    }
  }

  &__descripsion {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    width: 55%;
    margin-top: 30px;

    @media (max-width: 1445px) {
      width: 90%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }

  }

  &__btn {
    text-transform: uppercase;
    color: var(--text-akcent);
    background-color: var(--text-color);
    padding: 20px 30px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 7%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    @media (max-width: 1050px) {
      width: 100%;
      margin: 1em 0;
    }

    &:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      @media (max-width: 500px) {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    }
  }

  & .el_1 {
    left: -5%;
    bottom: 7%;
    transform: rotate(125deg);
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);

    @media (max-width: 1445px) {
      left: -10%;
      bottom: 8%;
    }

    @media (max-width: 1050px) {
      bottom: 7%;
      left: -15%;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  & .el_2 {
    width: 1
    5%;
    right: -5%;
    bottom: -15%;
    @media (max-width: 1050px) {
      bottom: -30%;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  & .el_3 {
    transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    @media (max-width: 500px) {
      display: none;
    }
  }

  &__image{
    @media (max-width: 1050px) {
      margin: auto;
    }
  }

  &__image-dog {
    @media (max-width: 1445px) {
      width: 40vw;
    }
  }


}