.footer{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: flex-start;
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 2em 0;

 &__list{
  gap: 20px;
  padding-left: 2%;
  @media (max-width: 1050px) {
   justify-content: center;
   margin-top: 2em;
  }
  @media (max-width: 500px) {
    margin: 1em 0;
  }
 }
  &__item{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   background-color: var(--text-color);
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
   &:hover{
    box-shadow: 0px 0px 20px var(--text-color);
   }
  }
  &__link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

 .el_1{
  top: -15%;
  left: 5%;
  transform: rotate(55deg);
  width: 6%;
  @media (max-width: 500px) {
    display: none;
  }
}

 


 @media (max-width: 1300px) {
  position: inherit;
}
 @media (max-width: 500px) {
  position: inherit;
}
}